<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
           id="StandardServlet"
           point="org.eclipse.equinox.http.registry.servlets">
        <servlet
              alias="/standard"
              class="osgi.websockets.runtime.metrics.StandardServlet"
              load-on-startup="true">
        </servlet>
     </extension>
</plugin>
